* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e9e9e9;
}

header {
    background: #2c3e50;
}

.main {
    background: #fff;
    padding: 20px;
    flex: 1 1 70%;
    /*flex:1;*/
}

aside {
    background: #e67e22;
}

aside .widget {
    background: #d35400;
}

footer {
    background: #2c3e50;
}